@model IMDB.ViewModels.MovieActorData

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>@Html.ActionLink("IMDB", "Index", "Home")</h1>
    <p class="lead">IMDb, the world's most popular and authoritative source for movie, TV and celebrity content.</p>
    
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <p>@Html.DropDownList("genre", "All") @Html.TextBox("Search") <input class="btn btn-primary btn-large" type="submit" value="Search" /></p>
    }
</div>

<div class="row">
    <div class="col-md-8">
        
        @if (Model.Movies.Any())
        {
            <h2>List of Movies</h2>

            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Genre</th>
                </tr>

                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>
                            <a href="#" class="clicky" data-movie="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                    </tr>
                }

            </table>

        }
        else
        {
            <h2>Sorry, no results found.</h2>
        }

    </div>
    
    <div class="col-md-4">
        <div class="actors">@{Html.RenderPartial("ActorsPartial", Model);}</div>
    </div>

</div>